In [1]:
import pandas as pd

In [11]:
fileName = "data/srtr/tx_li.sas7bdat"
data_li = pd.read_sas(fileName)

In [12]:
data_li["REC_GRAFT_STAT"].value_counts()

Y    147015
N      9047
U       231
Name: REC_GRAFT_STAT, dtype: int64

In [13]:
data_li["CAN_LAST_STAT"].value_counts()

6040.0    15232
6030.0    11689
6010.0    10668
6222.0    10583
6240.0     8554
6002.0     7048
6225.0     6763
6228.0     5556
6224.0     5479
6229.0     4923
6020.0     4348
6011.0     3962
6218.0     3546
6231.0     3502
6223.0     3471
6999.0     3377
6230.0     3034
6217.0     2864
6220.0     2779
6227.0     2679
6233.0     2675
6216.0     2519
6221.0     2391
6215.0     2378
6235.0     2369
6234.0     2100
6226.0     2062
6219.0     2029
6232.0     2024
6236.0     1762
          ...
6195.0       23
6190.0       23
6191.0       21
6248.0       20
6194.0       19
6253.0       16
6255.0       15
6256.0        9
6276.0        8
6249.0        7
6251.0        6
6252.0        6
6265.0        5
6254.0        5
6270.0        4
6262.0        4
0.0           4
6258.0        3
6299.0        3
6280.0        3
6189.0        2
4010.0        1
6269.0        1
6268.0        1
6267.0        1
6266.0        1
6264.0        1
6263.0        1
6261.0        1
6275.0        1
Name: CAN_LAST_STAT, Length: 95, dtype: int64

In [14]:
data_li["REC_BACTERIA_PERIT"].value_counts()

N    93173
U    21083
Y     9185
Name: REC_BACTERIA_PERIT, dtype: int64

In [47]:
sorted(data["REC_TX_DT"].map(lambda l: l.year).unique())

[1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018]

In [48]:
data["REC_TX_DT"].map(lambda l: l.year).value_counts()

2017    8082
2016    7841
2015    7127
2014    6730
2006    6651
2007    6494
2013    6455
2005    6444
2011    6342
2009    6320
2008    6319
2010    6291
2012    6256
2004    6171
2003    5673
2002    5332
2001    5195
2000    5000
1999    4757
1998    4519
1997    4189
1996    4087
1995    3934
1994    3652
1993    3440
1992    3064
1991    2953
1990    2690
1989    2202
1988    1713
2018    1289
1987     321
Name: REC_TX_DT, dtype: int64

In [49]:
data["REC_TX_DT"].map(lambda l: l.year).isnull().value_counts()

False    157533
Name: REC_TX_DT, dtype: int64

In [25]:
data["TFL_LASTATUS"].value_counts()

A    74894
D    52813
L    14081
R    11584
N     3278
Name: TFL_LASTATUS, dtype: int64

In [26]:
data["REC_TX_TY"].value_counts()

1.0    147177
2.0     10345
4.0        11
Name: REC_TX_TY, dtype: int64

In [27]:
data["REC_TX_PROCEDURE_TY"].value_counts()

701.0    146073
702.0      7880
703.0      3533
704.0        44
705.0         3
Name: REC_TX_PROCEDURE_TY, dtype: int64

In [28]:
data["REC_TX_ORG_TY"].value_counts()

LI           147177
KI LI          8300
PA LI IN       1003
LI IN           461
LI HR           246
KP LI IN        102
PA LI            95
LI LU            93
KI LI HR         14
LI HL            13
KP LI            12
KI LI 2LD        11
KI LI IN          4
PA LI LU          2
Name: REC_TX_ORG_TY, dtype: int64

In [29]:
data.loc[data["REC_TX_TY"] == 1.0, "REC_TX_ORG_TY"].value_counts()

LI    147177
Name: REC_TX_ORG_TY, dtype: int64

<h2> Status of patient during start of study </h2>

In [30]:
data["REC_PX_STAT"].value_counts()

A    141257
D     10370
R      5014
Name: REC_PX_STAT, dtype: int64

In [39]:
data["TFL_DEATH_DT"].isnull().value_counts()

True     104722
False     52811
Name: TFL_DEATH_DT, dtype: int64

In [32]:
data["TFL_COD"].value_counts()

998.0     8572
4802.0    5243
999.0     4716
4660.0    4577
4851.0    3085
4626.0    2419
4603.0    2137
4645.0    1598
4650.0    1315
4850.0    1275
4624.0    1209
4856.0    1023
4855.0     990
4600.0     959
4605.0     910
4810.0     897
4625.0     845
4610.0     672
4604.0     604
4631.0     584
4623.0     564
4635.0     561
4811.0     549
4705.0     509
4803.0     490
4701.0     485
4640.0     480
4860.0     456
4900.0     400
4801.0     387
4601.0     380
4700.0     377
4620.0     306
4706.0     290
4800.0     276
4806.0     270
4622.0     196
4930.0     189
4630.0     187
4615.0     182
4621.0     161
4606.0     143
4920.0     139
4804.0     137
4247.0     136
4935.0     132
4910.0     128
4602.0     126
4702.0     100
4945.0      77
4805.0      74
4955.0      62
4940.0      40
4703.0      35
4956.0      32
4246.0      26
4957.0      15
4953.0      13
4958.0      13
4941.0       8
4942.0       7
4954.0       4
4952.0       2
4950.0       2
4951.0       1
Name: TFL_COD, dtype: int64

In [33]:
data["DON_DEATH_CIRCUM"].value_counts()

997.0    44206
6.0      38397
1.0      32324
5.0      13118
2.0      12803
3.0       8637
4.0       1448
Name: DON_DEATH_CIRCUM, dtype: int64

In [35]:
data["PERS_OPTN_COD"].value_counts()

998.0     9396
4802.0    6032
4660.0    5151
999.0     5089
4851.0    3103
4626.0    2546
4603.0    2334
4645.0    1608
4650.0    1350
4850.0    1296
4624.0    1218
4600.0    1196
4605.0    1064
4856.0    1038
4855.0    1008
4810.0     919
4625.0     869
4610.0     749
4604.0     685
4635.0     620
4811.0     604
4631.0     604
4623.0     592
4803.0     575
4705.0     566
4701.0     564
4601.0     506
4640.0     502
4860.0     481
4900.0     475
4801.0     444
3302.0     439
4700.0     425
4800.0     350
4706.0     337
4620.0     335
3908.0     328
4806.0     300
3400.0     232
4622.0     225
4630.0     199
4930.0     197
3904.0     190
4615.0     190
4606.0     185
4621.0     176
3700.0     161
3907.0     150
4247.0     145
4920.0     144
4602.0     144
4804.0     143
4935.0     141
4910.0     140
4702.0     113
4945.0      92
3500.0      91
3499.0      87
3301.0      77
4805.0      76
3701.0      73
3303.0      72
4955.0      62
3399.0      57
3600.0      50
3903.0      46
3304.0      41
4703.0      39
4940.0      39
3799.0      39
4956.0      38
3702.0      36
3402.0      32
3200.0      25
4246.0      23
3601.0      22
3401.0      21
3307.0      21
3699.0      18
4958.0      17
4953.0      16
2705.0      16
4957.0      15
3800.0      15
3201.0      14
3300.0      14
2304.0      14
3599.0      13
2100.0      13
3899.0       9
3204.0       9
3906.0       8
3305.0       8
6598.0       7
4941.0       7
3905.0       7
2201.0       7
2000.0       6
6502.0       6
4942.0       5
2600.0       5
3901.0       5
2003.0       5
5201.0       4
5806.0       4
6859.0       4
6755.0       4
4954.0       4
2101.0       3
6752.0       3
3900.0       3
2400.0       3
6748.0       3
2129.0       3
2198.0       3
3299.0       3
2401.0       3
6550.0       2
2099.0       2
4950.0       2
2207.0       2
4952.0       2
5202.0       2
6651.0       2
5809.0       2
5805.0       2
3910.0       2
3902.0       2
6760.0       2
6798.0       2
2303.0       2
2704.0       2
2602.0       2
5600.0       1
5501.0       1
2199.0       1
3203.0       1
3202.0       1
6701.0       1
2803.0       1
2203.0       1
2301.0       1
2305.0       1
6800.0       1
2120.0       1
2112.0       1
3914.0       1
2202.0       1
2209.0       1
2206.0       1
2402.0       1
6648.0       1
4951.0       1
2500.0       1
6850.0       1
6848.0       1
7223.0       1
2299.0       1
7238.0       1
3306.0       1
7240.0       1
5205.0       1
2604.0       1
5302.0       1
2708.0       1
6548.0       1
2712.0       1
6500.0       1
2004.0       1
Name: PERS_OPTN_COD, dtype: int64

In [36]:
data["CAN_CITIZENSHIP"].value_counts()

1.0      150282
2.0        2376
3.0        1625
4.0        1416
6.0         428
5.0         171
998.0        57
Name: CAN_CITIZENSHIP, dtype: int64

In [42]:
cand_fileName = "data/srtr/cand_liin.sas7bdat"
data = pd.read_sas(cand_fileName)
data.head(10)

,PERS_ID,PX_ID,WL_ORG,CAN_GENDER,CAN_ABO,CAN_RACE,CAN_RACE_SRTR,CAN_ETHNICITY_SRTR,DON_TY,REC_TX_PROCEDURE_TY,...,CAN_PREV_HR,CAN_PREV_LU,CAN_PREV_KP,CAN_PREV_HL,CAN_PREV_TX,ORG_AR,PERS_NEXTTX,PERS_NEXTTX_TRR_ID,CAN_TRR_EXISTS,DONOR_ID
0,5275686.0,1191210.0,LI,M,A,8.0,WHITE,NLATIN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,LI,NaT,NaN,0.0,NaN
1,5271525.0,1186558.0,LI,M,O,8.0,WHITE,NLATIN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,LI,NaT,NaN,0.0,NaN
2,5263264.0,1176997.0,LI,M,A,2000.0,WHITE,LATINO,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,LI,NaT,NaN,0.0,NaN
3,5279240.0,1195952.0,LI,F,A,2000.0,WHITE,LATINO,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,LI,NaT,NaN,0.0,NaN
4,5269790.0,1184101.0,LI,M,O,64.0,ASIAN,NLATIN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,LI,NaT,NaN,0.0,NaN
5,5261578.0,1174679.0,LI,F,O,8.0,WHITE,NLATIN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,LI,NaT,NaN,0.0,NaN
6,5274052.0,1188933.0,LI,F,O,2000.0,WHITE,LATINO,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,LI,NaT,NaN,0.0,NaN
7,5048973.0,1166545.0,LI,M,B,8.0,WHITE,NLATIN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,LI,NaT,NaN,0.0,NaN
8,5277521.0,1193560.0,LI,F,O,8.0,WHITE,NLATIN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,LI,NaT,NaN,0.0,NaN
9,5254682.0,1167088.0,LI,M,O,8.0,WHITE,NLATIN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,LI,NaT,NaN,0.0,NaN

In [10]:
data["WL_ORG"].value_counts()

LI    282437
IN      4801
Name: WL_ORG, dtype: int64

In [11]:
data["ORG_AR"].value_counts()

LI    282437
IN      4801
Name: ORG_AR, dtype: int64

In [17]:
data.loc[data["WL_ORG"] == "LI", ("CAN_LAST_SRTR_LAB_MELD")].value_counts()

6240.0    15442
6210.0     9709
6214.0     8951
6213.0     8921
6212.0     8806
6215.0     8801
6211.0     8428
6216.0     8397
6208.0     8190
6209.0     8075
6217.0     7771
6207.0     7560
6218.0     7466
6220.0     6213
6206.0     6113
6221.0     6009
6219.0     5851
6222.0     5602
6223.0     5411
6224.0     4833
6225.0     3932
6226.0     3702
6227.0     3502
6228.0     3370
6229.0     3288
6230.0     3171
6231.0     3082
6232.0     2932
6233.0     2796
6235.0     2791
          ...
6248.0       22
6251.0       22
6249.0       18
6252.0       18
6250.0       14
6254.0       12
6257.0       11
6264.0        7
6253.0        7
6260.0        6
6255.0        6
6259.0        5
6261.0        5
6256.0        5
6263.0        4
6262.0        4
6258.0        3
6266.0        3
6265.0        3
6273.0        2
6271.0        2
6270.0        2
6269.0        2
6294.0        1
6292.0        1
6267.0        1
6274.0        1
6280.0        1
6291.0        1
6188.0        1
Name: CAN_LAST_SRTR_LAB_MELD, Length: 89, dtype: int64

In [14]:
data.loc[data["WL_ORG"] == "LI", ("CAN_LAST_SRTR_LAB_MELD_TY")].value_counts()

M    194694
P     11578
Name: CAN_LAST_SRTR_LAB_MELD_TY, dtype: int64

In [15]:
data.loc[data["WL_ORG"] == "LI", ("CAN_INIT_SRTR_LAB_MELD")].value_counts()

6206.0    19235
6214.0    11539
6213.0    11276
6212.0    10824
6215.0    10507
6210.0    10363
6211.0    10280
6216.0     9523
6209.0     8728
6208.0     8640
6217.0     8475
6207.0     7805
6218.0     7479
6240.0     6920
6220.0     6101
6219.0     5972
6221.0     5621
6222.0     4759
6223.0     4226
6224.0     3623
6225.0     2998
6226.0     2826
6227.0     2522
6228.0     2448
6229.0     2369
6230.0     2296
6231.0     2041
6232.0     1895
6233.0     1786
6234.0     1672
          ...
6243.0       39
6189.0       38
6245.0       35
6246.0       26
6247.0       24
6248.0       24
6251.0       16
6252.0       14
6253.0       14
6254.0        9
6257.0        8
6255.0        7
6259.0        7
6250.0        6
6258.0        6
6264.0        6
6249.0        5
6267.0        4
6260.0        4
6263.0        3
6256.0        3
6269.0        2
6266.0        2
6265.0        2
6262.0        2
6261.0        2
6290.0        1
6280.0        1
6270.0        1
6188.0        1
Name: CAN_INIT_SRTR_LAB_MELD, Length: 84, dtype: int64

In [16]:
data.loc[data["WL_ORG"] == "LI", ("CAN_INIT_SRTR_LAB_MELD_TY")].value_counts()

M    194146
P     12126
Name: CAN_INIT_SRTR_LAB_MELD_TY, dtype: int64

In [21]:
data.loc[data["WL_ORG"] == "LI", ("CAN_LAST_SRTR_LAB_MELD")].isnull().value_counts()

False    206272
True      76165
Name: CAN_LAST_SRTR_LAB_MELD, dtype: int64

In [22]:
data.loc[data["WL_ORG"] == "LI", ("CAN_INIT_SRTR_LAB_MELD")].isnull().value_counts()

False    206272
True      76165
Name: CAN_INIT_SRTR_LAB_MELD, dtype: int64

In [31]:
data["CAN_ACTIVATE_DT"].map(lambda l: l.year).isnull().value_counts()

False    286932
True        306
Name: CAN_ACTIVATE_DT, dtype: int64

In [45]:
sorted(data["CAN_ACTIVATE_DT"].map(lambda l: l.year).unique())

[1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 nan]

In [43]:
year_counts = data["CAN_ACTIVATE_DT"].map(lambda l: l.year).value_counts()
year_counts

2017.0    13102
2016.0    12928
2010.0    12238
2015.0    12198
2013.0    12188
2014.0    12164
2011.0    12118
2012.0    11766
2009.0    11520
2008.0    11456
2007.0    11364
2006.0    11341
2005.0    11225
2001.0    11173
2000.0    11129
2004.0    10915
1999.0    10873
2003.0    10517
1998.0     9735
2002.0     9724
1997.0     8728
1996.0     8194
1995.0     7415
1994.0     6419
1993.0     5641
1992.0     4835
1991.0     4193
1990.0     3702
1989.0     2964
2018.0     2199
1988.0     2185
1987.0      694
1986.0       64
1985.0       25
Name: CAN_ACTIVATE_DT, dtype: int64

In [37]:
data.loc[(data["WL_ORG"] == "LI") and (data["CAN_LAST_SRTR_LAB_MELD"] != np.nan), ("CAN_ACTIVATE_DT")].map(lambda l: l.year).value_counts()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [2]:
fileName = "data/srtr/txf_li.sas7bdat"
data = pd.read_sas(fileName)

In [4]:
data["TFL_FOL_CD"].value_counts()

6.0      129850
10.0     120888
20.0     106659
30.0      95242
40.0      84527
50.0      75147
60.0      66588
70.0      58617
80.0      51328
90.0      44619
999.0     42022
100.0     38563
110.0     32971
120.0     27833
130.0     23437
140.0     19631
150.0     16322
998.0     13870
160.0     13435
170.0     10955
180.0      8824
190.0      7056
800.0      6446
200.0      5623
210.0      4363
220.0      3341
230.0      2514
240.0      1817
250.0      1318
260.0       921
270.0       592
280.0       326
290.0       143
300.0        29
Name: TFL_FOL_CD, dtype: int64

In [10]:
from collections import Counter
Counter(list(reversed(sorted(data["PX_ID"].value_counts()))))

Counter({1: 11190,
         2: 12771,
         3: 12968,
         4: 11074,
         5: 9761,
         6: 8988,
         7: 8442,
         8: 7706,
         9: 7040,
         10: 6396,
         11: 5932,
         12: 5445,
         13: 4748,
         14: 4108,
         15: 3622,
         16: 3047,
         17: 2641,
         18: 2256,
         19: 1939,
         20: 1524,
         21: 1389,
         22: 1076,
         23: 847,
         24: 718,
         25: 540,
         26: 390,
         27: 329,
         28: 275,
         29: 175,
         30: 119,
         31: 28,
         32: 2})